* {
    padding: 0;
    margin: 0;
}
.login{
    /* display: flex; */
    display: none;
    background-color: rgb(220, 218, 221);
    color: rgb(86, 2, 165);
}
.leftSide{
    width: 90%;
    display: flex;
    padding: 70px;
}
.rightSide{
    width: 10%;
}
.form{
    justify-content: center;
    width: 100%;
    text-align: center;
}
input, button{
    background-color: rgb(184, 115, 248);
    color: white;
    width: 50%;
    padding: 10px;
    font-size: medium;
    margin-top: 25px;
    border: 1px solid blueviolet;

}
button{
    width: 10%;
    cursor: pointer;
    border-radius: 10px;
}
button[type=submit]{
    width: 15%;
}
form button, form input{
    margin: 0 7px;
}
.container{
    display: flex;
}
form{
    display: flex;
    padding: 15px 25px;
    margin-top: 45px;
}
.menu{
    width: 30%;
    height: 100vh;
    background-color: rgb(184, 115, 248);
    
}
.main{
    width: 100%;
    background-color: rgb(220, 218, 221);
    padding: 0 30px;
}
.chatbox{
    text-align: left;
    height: 80vh;
}


